
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1c1b1b;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #4da1f0; 
}

/* Feed (Homepage) */
.feed {
    flex: 1;
    background-color: #eb8dd5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.post {
    margin-bottom: 20px;
}


.profile {
    flex: 1;
    background-color: #e2f292;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.chat {
    flex: 1;
    background-color: #d393fb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message {
    margin-bottom: 20px;
}

.timestamp {
    font-size: 12px;
    color: #888;
}

.notifications {
    flex: 1;
    background-color: #aaec9e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.notification .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #ff9900; 
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
